@using Ems.Service.Management
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @{
            var menuList = (List<Ems.ViewModels.SubMenusViewModel>)Session["Menus"];
            var groupByMenu = menuList.OrderBy(x=>x.DisplayNo).GroupBy(x => x.MainMenuId).ToList();
            var mainMenuList = new MainMenusManager().GetAll();

        }

        @if (Session["Menus"] != null)
        {
            foreach (var item in groupByMenu)
            {
                var mainMenu = mainMenuList.Where(x => x.Id == item.Key).FirstOrDefault();
                var icon = mainMenu.Icon;
                var mainMenuName = mainMenu.MenuName;

                <li class="nav-item">
                    <a onclick="javascript;:" href="javascript();" class="nav-link">
                        <i class="nav-icon @icon"></i>
                        <p>
                            @mainMenuName
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        @foreach (var menus in menuList.Where(x => x.MainMenuId == item.Key && x.Display == true).OrderBy(x=>x.DisplayNo))
                        {
                            <li class="nav-item">
                                <a href="/@menus.Controller/@menus.Action" class="nav-link">
                                    <i class="far fa-circle nav-icon @menus.Icon"></i>
                                    <p>@menus.SubMenuName</p>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
            }
           

        }
    </ul>
</nav>
