@model Ems.ViewModels.AddExaminationViewModel
@{
    ViewBag.Title = "Add Examination Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div class="col-md-8">
                    <form action="/Ems/AddExamination" method="post">
                        @Html.AntiForgeryToken()
                        <div class="card card-success mt-5">
                            <div class="card-header">
                                <h3 class="card-title">Hasta Kaydı</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <label for="NameSurname">Hasta Adı</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-address-card"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="NameSurname" name="NameSurname" placeholder="Hasta Adı Soyadı" required>
                                </div>
                                <div id="insuranceField" class="input-group mb-3" style="display:none">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-file-medical-alt"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="Insurance" name="Insurance" placeholder="Sigortası">
                                </div>
                                <label for="Diagnosis">Tanı</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-compass"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="Diagnosis" name="Diagnosis" placeholder="Tanı - Hasta Öyküsü" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Müdahale Şekli</label>
                                    <select class="form-control select2" id="ProcessId" name="ProcessId" width="100%" required>
                                        <option selected="selected" id="chooseOne">Lütfen Birini Seçiniz.</option>
                                    </select>
                                </div>
                                <div id="processDatas" hidden class="input-group mb-3" style="display:none">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-file-medical-alt"></i></span>
                                    </div>
                                    <input type="text" disabled class="form-control" id="ProcessPrice" name="ProcessPrice" placeholder="Sigortası" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label>Müdahaleler</label>
                                    <select class="form-control select2" id="Interventions" name="Interventions" width="100%" multiple required>
                                        <option selected="selected" id="chooseOne">Seçin.</option>
                                    </select>
                                </div>
                                <label for="Action">Extralar</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-compass"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="Extras" name="Extras" placeholder="Listede olmayan extra">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="ExtraPrices" name="ExtraPrices" placeholder="Sadece fiyat örn: 750">
                                </div>
                                <div id="Drug" class="form-group mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="UsedDrugs" name="UsedDrugs" value="true">
                                        <label class="form-check-label" for="UsedDrugs">İlaç Tedavisi</label>
                                    </div>
                                </div>
                                <div id="Judical" class="form-group mb-3">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="IsJudical" name="IsJudical" value="true">
                                        <label class="form-check-label" for="IsJudical">Adli Vaka</label>
                                    </div>
                                </div>
                                <label id="officerLabel" for="officerName" style="display:none">Memur</label>
                                <div id="officerName" class="input-group mb-3" style="display:none">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-shield"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="OfficerNameSurname" name="OfficerNameSurname" placeholder="Örn: Maço Blancos">
                                </div>
                                <div id="totalPrice" hidden class="input-group mb-3" style="display:none">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user-shield"></i></span>
                                    </div>
                                    <input type="text" class="form-control" id="Price" name="Price" placeholder="PRICE" required>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button disabled id="submit" type="submit" class="btn btn-info">
                                    <span id="spinnerSubmit" style="display:none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Kaydet
                                </button>
                                <button id="calculate" class="btn btn-success">
                                    <span id="spinner" style="display:none" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    Hesapla
                                </button>
                                <div class="btn btn-danger"><a href="/Home/Index" style="color:white">Vazgeç</a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<style>
    .select2-selection__choice {
        /*margin-top: 2px !important;*/
        padding-right: 5px !important;
        padding-left: 5px !important;
        background-color: transparent !important;
        border: none !important;
        border-radius: 4px !important;
        background-color: rgb(255 0 0) !important;
    }

    .select2-selection__choice__remove {
        border: none !important;
        border-radius: 0 !important;
        padding: 0 2px !important;
    }

        .select2-selection__choice__remove:hover {
            background-color: transparent !important;
            color: rgb(255 0 0) !important;
        }
</style>
<script src="~/Content/AdminLTE/plugins/jquery/jquery.min.js"></script>
<script>
    var processPrices = 0;
    var CreditsLeft = "";
    var discountRateForBasics = 0;
    var discountRateForMiddle = 0;
    var discountRateForCritical = 0;

    function getProcesses() {
        $("#ProcessId").find('option').text("Yükleniyor...");
        $("#ProcessId").select2();
        var html = "";
        $.ajax({
            type: "POST",
            url: '/Api/GetProcesses',
            dataType: 'json',
            async: true,
            success: function (data) {
                $.each(data, function (i, item) {
                    html += "<option value=" + item.Id + " data-price="+item.Price+">" + item.ProcessName + "</option>";
                });
            },
            complete: function () {
                $("#chooseOne").remove();
                $("#ProcessId").append(html);
                $("#ProcessId").select2();
            }

        });
    }
    function getInterventions() {
        $("#Interventions").find('option').text("Yükleniyor...");
        $("#Interventions").select2();
        var html = "";
        $.ajax({
            type: "POST",
            url: '/Api/GetInterventions?takeCount=1000&skipCount=0',
            dataType: 'json',
            async: true,
            success: function (data) {
                $.each(data.Data, function (i, item) {
                    html += "<option value=" + item.Id + " data-price=" + item.Price + ">" + item.Name + "</option>";
                });
            },
            complete: function () {
                $("#chooseOne").remove();
                $("#Interventions").append(html);
                $("#Interventions").select2();
            }

        });
    }

    function calculatePrice() {
        var totalPrice = parseFloat($("#ProcessId").find("option[value='" + $("#ProcessId").val() + "']").attr("data-price"));
        var extras = $("#ExtraPrices").val() != '' ? parseFloat($("#ExtraPrices").val()) : 0;
        totalPrice += extras;
        $.each($("#Interventions").find(":selected"), function (i, v) {
            totalPrice += $(this).data('price');
        })
        if ($("#ProcessId").val() == 1) {
            totalPrice = totalPrice * ((100 - discountRateForBasics) / 100);
        }
        if ($("#ProcessId").val() == 2) {
            totalPrice = totalPrice * ((100 - discountRateForMiddle) / 100);
        }
        if ($("#ProcessId").val() == 3) {
            totalPrice = totalPrice * ((100 - discountRateForCritical) / 100);
        }
        $("#Price").val(totalPrice);
        console.log(totalPrice + " " + discountRateForBasics)

    }

    function calculate() {
        var NameSurname = $("#NameSurname").val();
        var InsurancePackage = "";
        $.ajax({
            type: "POST",
            url: '/Api/CheckIfHasInsurance?NameSurname=' + NameSurname,
            dataType: 'json',
            async: true,
            beforeSend: function () {
                $("#spinner").show();
                $("#calculate").attr("disabled", true);
            },
            success: function (data) {
                if (data.json.Status == "Success") {
                    CreditsLeft = '( ' + data.json.Message + ' )';
                    $.ajax({
                        type: "POST",
                        url: '/Api/GetInsuranceById?id=' + data.json.Data.InsuranceId,
                        dataType: 'json',
                        async: true,
                        beforeSend: function () {
                        },
                        success: function (data) {
                            if (data.json.Data != null) {
                                InsurancePackage = data.json.Data.PackageName;
                                discountRateForCritical = data.json.Data.DiscountRateForCriticalProcesses;
                                discountRateForMiddle = data.json.Data.DiscountRateForMediumProcesses;
                                discountRateForBasics = data.json.Data.DiscountRateForBasicProcesses;
                                calculatePrice();
                            } 
                        },
                        complete: function () {
                            $("#Insurance").attr("disabled", true);
                            $("#Insurance").val(InsurancePackage + " - " + CreditsLeft);
                            $("#insuranceField").show('slow');
                        }
                    });
                }
                else {
                    CreditsLeft = data.json.Message;
                    discountRateForBasics = 0;
                    discountRateForCritical = 0;
                    discountRateForMiddle = 0;
                    calculatePrice();
                    $("#Insurance").attr("disabled", true);
                    $("#Insurance").val(CreditsLeft);
                    $("#insuranceField").show('slow');
                }
            },
            complete: function () {
                $("#submit").attr("disabled", false);
                $("#spinner").hide();
                $("#calculate").attr("disabled", false);
            }

        });

        
    } 

    $("#Form").submit(function (e) {
        $("#spinnerSubmit").attr("hidden", false);
        $("#submit").attr("disabled", true);
    });

    $(document).ready(function () {
        //getMainMenus();
        getProcesses();
        getInterventions();
        $('#IsJudical').change(function () {
            if ($(this).is(':checked')) {
                $("#officerName").show('slow');
                $("#officerLabel").show('slow');
            }
            else {
                $("#officerName").hide('slow');
                $("#officerLabel").hide('slow');
            }

        })
        $('#calculate').on('click', function () {
            calculate();
        })
        $("#NameSurname").on('keydown change', function () {
            $("#submit").attr('disabled', true);
        })
        $("#ProcessId").on('select2:select', function (e) {
            processPrices += $(this).find('option[value="' + e.params.data.id + '"]').data('price');
            $("#ProcessPrice").val(processPrices);
            $("#chooseOne").remove();
        })
        $("#ProcessId").on('select2:unselect', function (e) {
            processPrices -= $(this).find('option[value="' + e.params.data.id + '"]').data('price');
            $("#ProcessPrice").val(processPrices);
            $("#chooseOne").remove();
        })
    })
</script>



